.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

/* 고정폭 레이아웃 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* 좌우로 꽉 찬 레이아웃 만들 때 */
.container-fluid {
  background-image: url("river.jpg");
  padding-right: 250px;
  padding-left: 250px;
  margin-right: auto;
  margin-left: auto;
}

.Section {
  background-color: "green";
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* opacity: 30%; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.rightWidget {
  background-color: skyblue;
  margin-left: 80%;
  padding: 10px;
}

.title {
  font-size: 60px;
  padding-top: 40px;
}
.title .rightWidget {
  display: inline-block;
}

#new-task {
  font-size: 25px;
  position: absolute;
  top: 45%;
  left: 35%;
}
#new-task2 {
  min-height: 40px;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#taskAddButon {
  background-color: white;
  font-size: 25px;
  position: absolute;
  top: 45%;
  left: 57%;
}

#todolist {
  position: absolute;
  left: 30%;
  top: 53%;
}
