.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* 고정폭 레이아웃 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* 좌우로 꽉 찬 레이아웃 만들 때 */
.container-fluid {
  /* background-color: pink; */
  padding-right: 1px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
}

.Head {
  background-color: blue;
  border: "2px solid black";
}

.Section {
  background-color: "green";
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.rightWidget {
  background-color: skyblue;
  margin-left: 80%;
  padding: 10px;

  /* nav-right: initial; */
}

.title {
  font-size: 60px;
  padding-top: 40px;
}
.title .rightWidget {
  display: inline-block;
}

#new-task {
  padding: 20px 150px 10px 10px;
  margin-left: 40px;
  font-size: 25px;
}
